


<form action="/class/new" method="post">
<h3>Create a new class!</h3>
Class Name: <input type="text" name="name" id="class_name" required><br>
<% 10.times do %>
  Student: <input type="text" name="student[][name]" id="student_name" placeholder="optional"><br>
<% end %>
<input type="submit" value="submit">
</form>

<a href="/teacher/<%= @teacher.slug %>">Homepage </a>
