
<h2>This Assignment Belongs to the "<%= @assignment.curriculum.name %>" Curriclum</h2>

<p><%=@assignment.name%></p>


<h2>---------------------------------------</h2>


<h3><a href="/teacher/<%=@teacher.slug%>">Back to Homepage</a></h3>
