<form action='/curriculum/new' method='post'>

  <% unless @teacher.class_names == [] %>
  <select name="class_name_id">
      <% @teacher.class_names.each do |klass|  %>
        <option value="<%= klass.id %>"><%= klass.name%></option>
      <% end %>
  </select>
  <% end %>


  <h3>What's the name of your Curriculum</h3>
  <input type="text" name="name" >

  <input type="submit" value="Create Curriculum">

</form>


<h3> If your class is not listed, make sure to create that class</h3>
<a href="/class/new">Create Class</a>
